<!DOCTYPE html>
<html>
<head>
    <title>Weathers</title>
 
    
</head>
<body>

        
    <div class = "main-content">
    {{>header}}   



    <p>use this site to get your weather</p>
    {{!-- <form>
        <input>
        <button>search</button>
    </form> --}}

    </div>

    
    {{>footer}}
</body>
</html>